{% extends '_layout' %}

{% block content %}


{% set user = craft.users.email( entry.author ).first() %}



{% set readingSeries = craft.entries.section('readingSeries').authorId(entry.author.id).first() %}


<div class="container">

	<div class="page-header">
		<div class="pull-right">
			{% if entry.facebook %}
			<a style="margin-right:10px;" href="{{entry.facebook}}"><img width="30px" src="/images/facebook.png"></a>
			{% endif %}

			{% if entry.twitter %}
			<a style="margin-right:10px;" href="{{entry.twitter}}"><img  width="30px"src="/images/twitter.png"></a>
			{% endif %}

			{% if entry.instagram %}
			<a style="margin-right:10px;" href="{{entry.instagram}}"><img width="30px" src="/images/instagram.png"></a>
			{% endif %}

		</div>
		<a href="/{{readingSeries.uri }}">
			<h5>{{ readingSeries.title }} </h5>
		</a>
		<h1>{{ entry.title }} ! </h1>

	</div>

	<div class="row">
		<div class="col-md-8">
		
			
			
			<p>{{ entry.description}}</p>

			{% if ( entry.facebookInvite or entry.externalTicketingUrl) %}
			<div class="well text-center">
			{% if entry.facebookInvite %}
				<div class="row">
					
					<div class="col-md-6">
						<a href="">Facebook Event Page</a>
					</div>
					{% endif %}

					{% if entry.externalTicketingUrl %}
					<div class="col-md-6">
						<a target="_blank" href="{{ entry.externalTicketingUrl }}">Buy Tickets on {{ entry.externalTicketingUrlName  }}</a>
					</div>
					{% endif %}
				</div>
				
			</div>
			{% endif %}
			<h2>Readers</h2>
			
			{% for reader in entry.featuredAuthor %}
			<div class="media">
			  <div class="pull-left">
			    <a href="%">
			    	{% if reader.image|length %}
			      <img width="90px"class="media-object" src="{{ reader.image[0].url }}" alt="...">
			      {% endif %}
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">{{ reader.readerName }}</h4>
			    <p>{{ reader.biography }}</p>
			  </div>
			</div>
			<hr>
			{% endfor %}
		</div>

		<div class="col-md-4">
			<h3>
					 {{ entry.eventStartDate | date('F j, Y') }}
	                {% if entry.eventEndDate != entry.eventStartDate %}
	                  – {{ entry.eventEndDate | date('F j, Y') }}
	                {% endif %}
			</h3>
			{% if entry.cost %}
			<h5>Cost: {{entry.cost}}</h5>
			<h4 class="date-time">{{ entry.eventStartDate | date('g:ia') }} – {{ entry.eventEndDate | date('g:ia') }}</h4>
			{% endif %}
			<a style="margin-bottom: 20px" href="" class="btn btn-block btn-default"><h4>Sync with Calendar</h4></a>

			<a style="margin-bottom: 20px" href="/series/{{readingSeries.title |replace({' ': '-'}) }}" class="btn btn-block btn-primary"><h4>View More From {{ readingSeries.title }}</h4></a>

			{% set options = {
				id: 'map',
				width: '100%',
				height: '300px',
				disableDefaultUI: true,
				options:mapOptions,
			} %}

			{{ craft.googleMaps.map(options) }}

			{{ craft.googleMaps.data('map', entry.map,
					{ markerOptions: {
					   
					    }
				    }
			) }}
			
			<div class="well text-center">
				<h6 >LOCATION</h6>
				
				<h5>{{ entry.streetAddress}}</h5>
				<h5>{{ entry.city }}, {{ entry.state }}</h5>
				<h5>{{ entry.zipCode }}</h5>

			</div>
	
		</div>

	</div>
	
</div>





{% endblock %}