{% extends '_layout' %}

{% block content %}

{% set params = {} %}

{% if craft.request.getParam('borough') != null %}
  {% set borough = craft.categories.slug(craft.request.getParam('borough')).find() %}
  {% set params = params|merge({relatedTo: borough}) %}
{% endif %}

{% if craft.request.getParam('type') != null %}
  {% set type = craft.categories.slug(craft.request.getParam('type')).find() %}
  {% set params = params|merge({relatedTo: type}) %}
{% endif %}


{% set params = params|merge({ section : 'events', eventStartDate : '>= ' ~ now.w3c(), order : 'eventStartDate' }) %}

{%  set events = craft.entries(params).find() %}

{% set wide = {
    mode: 'crop',
    width: 1450,
    height: 400,
    quality: 75,
    position: 'middle-bottom'
} %}

<!-- filters: borough, genre, date -->

  <!-- <img src="holder.js/1405x300?text=Image Here"> -->
  <!-- <img src="http://api.ning.com/files/09M7-EtsXQQSD7K6vc*cf7*OlsRoPuoY-sEBw1MECTMwmiTjxl8pDRHiOGuEk97naeHhwpiIBOGfyLv7c-7rUJjNDAY0dkuH/OnBrooklynBridge.jpg"> -->
  {% if entry.mainImage|length %}
  <img  src="{{entry.mainImage[0].url(wide)}}">
  {% endif %}


 
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% for date, eventsThisMonth in events |group("eventStartDate|date('F Y')")%}
        <section>
          <hgroup>
            <h6>{{date | date("F,  Y ")}}</h3>
          </hgroup>
          {% for event in eventsThisMonth %}
          <div class="media">
            <div class="media-left pull-left media-middle">
              <a href="{{event.url}}">
                <img src="holder.js/200x200?text=Image" alt="">
              </a>
            </div>
              <div class="media-body">

                <a href="series/{{ event.author.lastName |replace({' ': '-'}) }}"><h6>{{ event.author.lastName }}</h6></a>

                <a href="{{ event.url}}"><h3 style="margin-top:0px; margin-bottom:0px;">{{ event.title }}</h3></a>
                {% if event.eventType | length %}
                  {% for type in event.eventType %}
                  <h6 class="badge" style="margin-top:0px; margin-bottom:0px;"> {{ type.title }}</h6>
                  {% endfor %}
                {% endif %}
                <h4>
                    {{ event.eventStartDate | date('F j, Y') }}
                    {% if event.eventEndDate | date('F j, Y') != event.eventStartDate | date('F j, Y') %}
                      – {{ event.eventEndDate | date('F j, Y') }}
                    {% endif %}

                </h4>


                <h5 class="date-time">{{ event.eventStartTime | date('g:ia') }} 
                  {% if event.eventEndTime %}
                  – 
                  {{ event.eventEndTime | date('g:ia') }}
                  {% endif %}
                </h5>
                {% if event.borough | length %}
                <h5><span class="glyphicon glyphicon-map-marker"></span> 
                    {{ event.borough[0].title }}
                </h5>
                {% endif %}
                <a href="" class="btn btn-default"> Sync with Calendar</a>
              </div>
            </div>

          </section>
          <hr>
          {% endfor %}
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="well" id="filters">
        <h6 class="text-center">Sort By</h6>
        <hr>

       <!--  <label>Event Type:</label>
        {% set types = craft.categories.group('genre') %}
        <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
              <span class="pull-right glyphicon glyphicon-menu-down"></span>

            {% if (type is defined and type != null) %}
                        {{type[0].title }}
                        {% else %}
                          Select a Filter
                        {% endif %}
            
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li role="presentation" {% if craft.request.getParam('type') == null %}class="active" {% endif %}><a href="/{% if (borough is defined and borough != null) %}?borough={{borough[0].slug}}&{% else %}?{% endif %}">All</a></li>
            {% for type in types %}
            <li role="presentation" {% if craft.request.getParam('type') == '{{type.slug}}' %}class="active" {% endif %}><a href="/?type={{type.slug}}">{{type}}</a></li>
            {% endfor %}

          </ul>
        </div> -->
        <!-- Filter button 1-->
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">A-Z</a></li>
           <li><a href="#">Z-A</a></li>
        </ul>
    </div>

    <!-- Filter button 2-->
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Location <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Manhattan</a></li>
          <li><a href="#">Brooklyn</a></li>
          <li><a href="#">Queens</a></li>
          <li><a href="#">The Bronx</a></li>
          <li><a href="#">Staten Island</a></li>
        </ul>
    </div>

    <!-- Filter button 3-->
    <div class="btn-group">
      {% set types = craft.categories.group('genre') %}
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genre <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for type in types %}
          <li><a href="#">{{type.title}}</a></li>
          {% endfor %}
          
        </ul>
    </div>

<!--         <label>Borough:</label>
          {% set boroughs = craft.categories.group('boroughs') %}
          <div class="dropdown ">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
                <span class="pull-right glyphicon glyphicon-menu-down"></span>
                 {% if (borough is defined and borough != null) %}
                          {{borough[0].title }}
                          {% else %}
                            Select a Filter
                          {% endif %}
            
            </button>
            <ul class="dropdown-menu dropdown-large" role="menu" aria-labelledby="dLabel">
              <li role="presentation" {% if craft.request.getParam('borough') == null %}class="active" {% endif %}><a href="/">All</a></li>
              {% for borough in boroughs %}
              <li role="presentation" {% if craft.request.getParam('borough') == '{{borough.slug}}' %}class="active" {% endif %}><a href="/{% if (type is defined and type != null) %}?type={{type[0].slug}}&{% else %}?{% endif %}borough={{borough.slug}}">{{borough.title }}</a></li>
              {% endfor %}

            </ul>
          </div> -->
          <hr>
           <!-- Filter button 3-->
            <div class="btn-group ">
             
                <button id="datepicker" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Date <span class="caret"></span>
                </button>
                
            </div>

        


      </div>
    </div>
  </div>
        
</div>

<script>
 $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
{% endblock %}
